Source: syncwerk-server-restapi
Section: utils
Priority: optional
Maintainer: ${MAINTAINER}
Build-Depends: debhelper (>= 9)
Standards-Version: ${DEBSTDVER}
Homepage: https://www.syncwerk.com

Package: syncwerk-server-restapi
Architecture: any
Depends: \${shlibs:Depends}, \${misc:Depends}, syncwerk-server-ccnet (>=${FULLBUILDVER}), syncwerk-server-daemon (>=${FULLBUILDVER}), syncwerk-server-libevent-dev (>=${FULLBUILDVER}), mariadb-server, python-mysqldb, libmariadbclient-dev-compat, libmariadb-client-lgpl-dev, libmariadb-dev, python-dev, build-essential, zlib1g, zlib1g-dev, libjpeg-dev, libpng-dev, libfreetype6-dev, gettext
Conflicts: syncwerk-server-icons
Description: Syncwerk RESTful API Server
 Syncwerk web service built with the Django REST framework
