import requests

url = "{{request_url}}"

querystring = { {% for query in query_params %}"{{query.key}}":"{{query.example_value}}"{% if not forloop.last %},{% endif %}{% endfor %} }

headers = {
    'content-type': "{{content_type}}{% if content_type == 'multipart/form-data'%}; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW{% endif %}"
}
{%if method == "POST" or method == "PUT"%}{% if content_type == 'multipart/form-data'%}
payload = "{% for form in form_data %}------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"{{form.key}}\"\r\n\r\n{{form.example_value}}\r\n{% if forloop.last %}------WebKitFormBoundary7MA4YWxkTrZu0gW--{% endif %}{% endfor %}"
{% endif %}
{% if content_type == 'application/json'%}
payload = "<json payload here>"
{% endif %}{% endif %}
response = requests.request("{{method}}", url, data=payload, headers=headers, params=querystring)

print(response.text)